/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1e293b;
}

/* Container */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 15%;
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.profile {
    text-align: center;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; /* Asegura que la imagen no salga del contenedor circular */
    margin: 0 auto 10px;
    background-color: #334155; /* Fondo visible si no hay imagen */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    display: block; /* Evita espacios extra alrededor de la imagen */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.menu li a{
    color: #fff;
    text-decoration: none;

}
.menu li a:hover{
    color: #a3e635;
}

.menu li:hover {
    background-color: #1e293b;
    color: #a3e635;
    border-radius: 8px;
}

.footer {
    font-size: 12px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

/* Dashboard Header */
.dashboard-header {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #334155;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
}

.card h3 {
    font-size: 18px;
    color: #a3e635;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

/* Chart container */
.chart-container {
    display: flex;
    justify-content: space-around; /* Separación entre gráficas */
    align-items: center; /* Centrado vertical */
    gap: 20px;
    margin: 20px auto;
    width: 90%;
}

.chart {
    flex: 1;
    max-width: 400px;
    height: 300px; /* Altura fija */
}
